body
{
background-color: black;
color: white;
}

/* Fixed navbar */
body {
    padding-top: 90px;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}


footer {
    background: #5d5d5d;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    border-radius: 0;
}

#footer-right {
    padding-left: 350px;
    text-align: center;
}

#footer-left {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#socialMedia {
    height: inherit;
    vertical-align: bottom;
}