body {
  background: url("Images/Blast-Zone-Heimerdinger.jpg") no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.main {
	background:rgba(142, 142, 142, 0.23);
}

/* Fixed navbar */
body {
    padding-top: 90px;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
footer {
	background:rgba(38, 40, 52, 0.48);
	color:#fff;
}
