@using Datos.SqlData
<style>
    body {
        background: url(../../../../Images/TF.jpg) no-repeat center top;
        -webkit-background-size: cover;
    }
</style>
@{ var user = (TBL_USUARIO)Session["UsuarioLogged"]; }
<div class="row center">
    <div class="col l2"></div>
    <div class="col l8 s12">
        <div class="row" style="padding-top:30px">
            <diV class="col l2"></diV>
            <div class="main container-fluid col l12 col s12" style="border:solid #212121;background-color:#151515;border-radius:30px 30px 0px 0px">
                <div class="flow-text">
                    <h2 class="white-text"><b>Obtener GGCoins</b></h2>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:-30px">
            <div class="" style="background:#151515;border:solid #212121;border-radius:0px 0px 30px 30px">
                <section class="" style="color:ghostwhite">
                    <h3>Para obtener un GGCoin, hay dos formas</h3>
                    <hr />
                    <h4>La primera es comprándolo. Para comprarlo debes hacer un depósito en una Caja vecina o transferencia electrónica de <b style="color:gold">$500</b> a la siguiente cuenta:</h4>
                    <div class="row">

                        <div class="col-lg-6">
                            <p>Nombre: Alan Gárate Arrieta</p>
                            <p>Rut: 18.956.344-2</p>
                            <p>Cuenta: 18956344</p>
                            <p>Correo: loteriagg@loteriagg.com</p>
                            <p>Banco: Banco Estado</p>
                            <p>Tipo de cuenta: Cuenta Rut</p>
                        </div>
                    </div>
                    <h4>También puedes usar la aplicación del Banco Estado ingresándo el código numérico que entrega la opción "PagoRut" <a class="modal-trigger btn yellow darken-3" href="#myModal2">Aquí</a>.</h4>
                    <p class="red-text">
                        Una vez hecho el depósito/transferencia debes enviar un mail a loteriagg@loteriagg.com con el asunto "Pago", adjuntar el comprobante de transferencia y escribir tu nombre de usuario.</p>
                    <p class="red-text"> También puedes enviar el comprobante por mensaje privado en nuestra página de <a href="https://www.facebook.com/loteria.gg" class="light-blue-text" style="text-decoration:none; background-color:none" > Facebook.</a></p>
                        <hr />

                        <h4>La segunda es por código de regalo, ¿Tienes un código de regalo? Ingrésalo aquí abajo</h4>
                        <div class="row">
                            <div class="col s10 offset-s1">
                                <form id="formFreeGGCoin" action="@Url.Action("SorteoGratis")" method="post" role="form" autocomplete="off">
                                    <input id="cod" type="text" class="form-control" style="text-align:center" placeholder="Ingresa el codigo aquí" name="codigo" />
                                    <input type="button" onclick="Aceptar()" class="form-control btn green darken-3" value="Aceptar" />
                                </form>
                            </div>
                            <!--<div class="col l8">
                                <form id="formFreeGGCoin" action="@Url.Action("SorteoGratis")" method="post" role="form" autocomplete="off">
                                    <input id="cod" type="text" class="form-control" style="text-align:center" placeholder="Ingresa el codigo aquí" name="codigo" />
                                    <input type="button" onclick="Aceptar()" class="form-control btn green darken-3" value="Aceptar" />
                                </form>
                            </div>-->
                        </div>
                        <br />
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="ajax-register-form" method="post" role="form" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">Ingresa aquí el código.</h4>
                </div>
                <div class="modal-body col-lg-12">
                    <input type="text" id="Codigo" placeholder="Código pago Rut" class="form-control" name="codigo" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn red" onclick="$('#myModal2').modal('close');">Cerrar</button>
                    <button type="button" onclick="Enviar()" data-dismiss="modal" class="btn green">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function Enviar() {
        var codigo = $('#Codigo').val();

        $.ajax({
            type: "POST",
            url: "@Url.Action("EnviarNotificacion")?codigo=" + codigo,
            success: function (data) {
                $('#myModal2').modal('close');
                if (data.Exito == 'exito') {
                    Materialize.toast('Codigo Enviado.', 3000, 'green');
                } else {
                    Materialize.toast('Ha habido un problema, por favor contactar con un administrador.', 3000, 'red');
                }
                $('#Codigo').val("");
            }
        })
    }

    function Aceptar() {
        $.ajax({
            type: "POST",
            url: $('#formFreeGGCoin').attr('action'),
            data: $('#formFreeGGCoin').serialize(),
            success: function (data) {
                if (data.exito == "true") {
                    Materialize.toast(data.mensaje, 3000, 'green');
                    ActualizarGGCoins(data.GGCoins);
                } else if (data.exito == "false") {
                    Materialize.toast(data.mensaje, 3000, 'red');
                }
                $('#formFreeGGCoin #cod').val("");
            }
        })
    }
</script>
