
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Pagar con targeta de crédito.", "PaymentWithCreditCard", "Paypal")
@Html.ActionLink("Pagar con cuenta de paypal.", "PaymentWithPaypal", "Paypal")