@using Datos.SqlData
<style>
    body {
        background: url(../../../../Images/TF.jpg) no-repeat center top;
        -webkit-background-size: cover;
    }
</style>
@{ var user = (TBL_USUARIO)Session["UsuarioLogged"]; }
<div class="row center">
    aaaa
    </div>
