@using Datos.SqlData
<style>
    body {
        background: url(../../../../Images/Corporate-Mundo.jpg) no-repeat center top;
        -webkit-background-size: cover;
    }
</style>
@{ var user = (TBL_USUARIO)Session["UsuarioLogged"]; }
<div class="row center">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix white-text">mode_edit</i>
                <textarea id="textarea1" class="materialize-textarea white-text"></textarea>
                <label for="textarea1">Mensaje</label>
                <button class="btn waves-effect waves-light light-blue darken-3" type="button" onclick="EnviarMensajeContactanos()" name="action">Enviar<i class="material-icons right" style="line-height:35px;">send</i></button>
            </div>
        </div>
    </form>
</div>

<script>
    function EnviarMensajeContactanos() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EnviarMensajeContactanos", "Contactanos")',
            data: {
                mensaje: $('#textarea1').val(),
            },
            success: function (data) {
                if (data.exito) {
                    Materialize.toast(data.mensaje, 3000, 'green');
                    $('#textarea1').val("");
                }
            }
        })
    }
</script>
