<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <title>Acerca de</title>
    <link href="~/Content/estiloAbout.css" rel="stylesheet">
    <link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
</head>
<body>



    <div class="main container-fluid">
        <section class="row">
            <article class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
                <div style="text-align:center">
                    <img src="~/Images/logoGG.png" alt="LogoGG" height="150" width="600" />
                </div>

                <h2 class="text-muted" style="color:white; font-size:35px" align="center"><em>El único y mejor lugar para poner a prueba tu suerte y ganar RP.</em></h2>

            </article>
        </section>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
                <h3><u>Nosotros no somos Riot Games Inc.</u></h3>
                <p>
                    LoteriaGG no está apoyada por Riot Games y no refleja la visión u opiniones de Riot Games o de nadie oficialmente involucrado en producir o administrar League of Legends.
                    League of Legends y Riot Games son marcas registradas de Riot Games, Inc. League of Legends © Riot Games, Inc.
                </p>
            </div>
        </div>

        <footer class="navbar navbar-fixed-bottom">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <h4>Hecho por el equipo de Resyst ® Softwares™.</h4>

                        <h5>
                            © 2017 Resyst Softwares. Todos los derechos reservados.
                        </h5>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h4>
                            Síguenos en Facebook:
                            <a href="https://www.facebook.com/loteria.gg">
                                <img src="https://lh3.googleusercontent.com/rVThdsVV77Iq36HPUUqmcJ21ZAML3Gs-AxGCc2JrpoXQLYkq3Yl-0O2p8KvYHjuQMuJhq7EkvL6_F2ylJf-jY_KbahkASPDtVYjrV6Bc_dB4pEnnu5Ng425ISTs9G3NHu4zLSi00CTAyY2ycRow1LbsF6ge74Kh0h4DbboJFojfHeDIY2UjV-w1ijDEGfFEwtieMkrW0SXH-HFkabNMGLbdB3fYfUD0Dn28cqmKO35IFNN-hN4_EPhoen1Ab24MvnWbkAvZw_VRxsyDsKSAnEcV_5N-FzM6lk1VgWknUUJ0tIKCBsMVndxJhSXboeMWlIthkPUm5wzieIkaGKuw0WGcYRjKo8Kxg40qw5ZCsmeVezfsk0nylIFArsygKZexOBRKhhWgWi3gb-OY_X7hSfOr1IiXct-uk7znlhq76bJFhokI2DbqvnIISbDpRHY9ZZLmokxEsNCaSoZFCw9VVOIF5RZuTNaytj60YmXn2amrtp423JOzIRu3aaEIYKc9h8Kq_5eXgEpUqKcdGR_o_-loCPIF6JrgwhIGsgWcnhRvhFu2ZB4jgxO3YpBnReCYiHU1FbCfXefCjoO-kUvULsGo-34oK-AFbg9piIJGiBWEafXFViggW7EGgWxRk-bzAbD8d6GkH7P5Y7wYGebxHXOO52caX9QSw9YsEX29wAQ=s24-no" alt="facebook" />
                            </a>
                        </h4>
                    </div>


                </div>


            </div>

        </footer>
    </div>

    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
