@using Datos.SqlData
<style>
    body {
        background: url(../../../../Images/cs1.jpg) no-repeat center top;
        -webkit-background-size: cover;
    }
</style>
@{ var user = (TBL_USUARIO)Session["UsuarioLogged"]; }

<div class="row center">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

</div>



  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>