@using Datos.SqlData
<style>
    body {
        background: url(../../../../Images/cs1.jpg) no-repeat center top;
        -webkit-background-size: cover;
    }
</style>
@{ var user = (TBL_USUARIO)Session["UsuarioLogged"]; }

<div class="row center">
    <form class="col s12" style="font-size: 100px">
        asdasdasdasd
        </form>
</div>