@{
    ViewBag.Title = "Index";
}
<style>
    .first{
    }
    body {
        background: url(../../../../Images/AkalivsBaron.jpg) no-repeat center top #262626;
        background-color: #dde0ea;
    }
</style>

<div class="valign-wrapper first col s12" style="text-align:center">
    <div style="width:100%">
        <h3 class="white-text center z-depth-5" id="Ganador" style="text-shadow:4px 4px 4px #000">
            @ViewBag.Titulo
        </h3>
    </div>
</div>

<div class="bottom z-depth-3 indigo lighten-5">
    <div class="row">
        <div style="text-align:center" >
            <img src="~/Images/logoGG.png" alt="LogoGG" width="60%" />
        </div>
    </div>

    <div style="padding:15px;" class="indigo lighten-5">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
            <h3><u>Nosotros no somos Riot Games Inc.</u></h3>
            <p>
                LoteriaGG no está apoyada por Riot Games y no refleja la visión u opiniones de Riot Games o de nadie oficialmente involucrado en producir o administrar League of Legends.
                League of Legends y Riot Games son marcas registradas de Riot Games, Inc. League of Legends © Riot Games, Inc.
            </p>

            <h1>Preguntas Frecuentes:</h1>

            <h2>¿Qué es un GGCoin?</h2>
            <p>El GGCoin es la moneda utilizada en este sitio web, la cual puedes canjear por una inscripción al sorteo que desees.</p>

            <h2>¿Cómo obtener GGCoins?</h2>
            <p>Para obtener GGCoins sólo debes dirigirte a la pestaña de "ObtenerGGCoins" en la barra superior y seguir las instrucciones.</p>
            <h2>¿Cómo inscribirse a los sorteos?</h2>
            <p>Una vez que tengas GGCoins asociados a tú cuenta, podrás canjearlos por inscripciones a sorteos en la pestaña "Inscribirse" en la barra superior.</p>
            <h2>¿Cómo sé si es que gano un sorteo?</h2>
            <p>El o los ganadores serán publicados en nuestra página de Facebook y en el inicio de la página web, además de enviar un correo al mail asociado a la cuenta de los ganadores, por lo cual es importante que nos sigas en facebook y tener verificado tu mail.</p>
            <h2>¿Dónde puedo ver los sorteos a los que me he inscrito?</h2>
            <p>En la sección del perfil puedes ver todos los sorteos a los que te hayas inscrito alguna vez, además de poder editar todos tus datos personales.</p>
            <h2>Aún no me llega el mail de verificación ¿Qué hago?</h2>
            <p>Si aún no te ha llegado el correo y no está en la carpeta de spam, puedes reenviar el correo haciendo clic en www.loteriagg.com/LoL/home/verification y volviendo a ingresar tu email.</p>
            <h2>¿Cómo funciona el sistema de referencias?</h2>
            <p>
                En la sección de tu perfil, encontrarás "Código de referencia: ref-TuNombreDeUsuario". El código "ref-TuNombreDeUsuario" es un código único, el cual podrás enviar a cualquier persona que no esté registrada en la página.
                Una vez que la(s) persona(s) se registren, pueden canjear el código en la sección "ObtenerGGCoins" y obtener 1 GGCoin de bienvenida.
                Cuando la(s) persona(s) que hayan usado tu código, compren 1 GGCoin por primera vez, obtendrás 1 GGCoin por cada una de ellas.
            </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var height = $(window).height();
        $('.valign-wrapper').css('height', height);
    })
</script>