@{
    ViewBag.Title = "Index";
}
<!--Nuevas imágenes para el fondo, con propósito de hacerles transición: LGBG1, LGBG2, ...3, ...4, ...5-->
<!--background: url(../../../../Images/LGGBG1.png) no-repeat center top #262626;
    background-color: #dde0ea;-->



<div class="valign-wrapper first col s12" style="text-align:center">
    <div style="width:100%">
        <h3 class="white-text center z-depth-5" id="Ganador" style="z-index:0;text-shadow:4px 4px 4px #000; background-color: transparent; margin-left:100px; margin-right:100px; font-size: 80px">
            @ViewBag.Titulo
        </h3>
    </div>
</div>


<script>
     //Transición de background
    var imagenes = [
        "../../../../Images/LGGBG1.png",
        "../../../../Images/LGGBG2.png",
        "../../../../Images/LGGBG3.png",
        "../../../../Images/LGGBG4.png",
        "../../../../Images/LGGBG5.png"

    ];

    var currentImg = 0;
    setInterval(function () {

        if (currentImg >= imagenes.length) currentImg = 0;

        $("body").css("background-image", "url(" + imagenes[currentImg] + ")");
        currentImg++;
    }, 10000);
</script>

