header {
	background:#2c3e50;
	color:#fff;
}

.main {
	background:#f2f2f2;
}

.color1 {
	background: #34495e;
	color:#fff;
}

aside {
	background:#c0392b;
	color:#fff;
}

footer {
	background:#1c2766;
	color:#fff;
}

body {
  background: url(http://lolwp.com/wp-content/uploads/2015/09/Kindred-Classic-wallpaper.jpg) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.myBackground {
  background-color: rgba(255,255,255, 0.5);
  color: inherit;
}

#parentDiv {
  position: relative;
}

#parentDiv .childDiv {
  position: absolute;
  bottom: 0;
  left: 0;
}



/* Fixed navbar */
body {
    padding-top: 90px;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
