    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <title></title>
    <link href="~/Content/estiloOS.css" rel="stylesheet" />
    <link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
</head>
<body>
    <div class="col-lg-12" style="position:absolute;top:50%;transform:translateY(-50%);font-size:10px">
        <div class="row">
            <div class="main container-fluid col-lg-6 col-md-8 col-sm-12 col-xs-12 text-center" style="border:solid #212121;background-color:#151515;border-radius:30px 30px 0px 0px">
                <div>
                    <h2 style="color:#456b7b"><b>Obtener GGCoins</b></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="main container-fluid col-lg-6 col-md-8 col-sm-12 col-xs-12" style="background:#151515;border:solid #212121;border-radius:0px 0px 30px 30px">
                <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color:gray">
                    <h3>Para obtener un sorteo, hay dos formas:</h3>
                    <br />
                    <h4>La primera es comprar un sorteo, para comprarlo debes hacer un depósito (Caja vecina) /transferencia de <b style="color:gold">$500</b> a una de las siguientes cuentas:</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Nombre:Samuel Cortés Rojas</p>
                            <p>Rut: 18.883.446-9</p>
                            <p>Cuenta: 18883446</p>
                            <p>Correo: noreply@loteriagg.com</p>
                            <p>Banco: BBVA/Banco Estado</p>
                            <p>Tipo de cuenta: Cuenta Corriente/Cuenta Rut</p>
                        </div>
                        <div class="col-lg-6">
                            <p>Nombre: Alan Gárate Arrieta</p>
                            <p>Rut: 18.956.344-2</p>
                            <p>Cuenta: 18956344</p>
                            <p>Correo: noreply@loteriagg.com</p>
                            <p>Banco: Banco Estado</p>
                            <p>Tipo de cuenta: Cuenta Rut</p>
                        </div>
                    </div>
                    <p>Una vez hecho el depósito/transferencia debes enviarnos un mail a pago@loteriagg.com con asunto "Pago" adjuntar el comprobante de transferencia y escribirnos tu nombre de usuario</p>
                    <hr />
    
                    <h4>La segunda es por codigo de regalo, ¿Tienes un codigo de regalo? Ingresalo aquí abajo</h4>
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-8">
                            <form action="/LoL/Profile/SorteoGratis" method="post" role="form" autocomplete="off">
                                <input type="text" class="form-control col-lg-12" style="text-align:center" placeholder="Ingresa el codigo aquí" name="codigo" />
                                <input type="submit" class="form-control col-lg-12 btn btn-success" value="Aceptar" />
                            </form>
                        </div>
                    </div>
                    <br />
                </section>
            </div>
        </div>
    </div>

    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
