
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    #div1 {
        left: 1%;
        height: 98%;
        width: 48%;
        display: block;
        position: absolute;
        top: 10px;
        background-image: url(../../Images/Steam-logo.png);
        background-size: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000;
        border-radius: 25px;
        
        filter: grayscale(100%);
    }

    #div2 {
        left: 51%;
        height: 98%;
        width: 48%;
        display: block;
        position: absolute;
        top: 10px;
        background-image: url(../..//Images/AkalivsBaron.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 25px;
        
        filter: grayscale(100%);
    }

    .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #div1:hover, #div2:hover {
        filter: grayscale(0%);
    }
</style>
<html>
<head>
    <meta name="google-site-verification" content="V151tMsnAZuk7BkKkyAo63Uj-IW_X2tleAaQYVLjRJw" />
    <link rel="icon" href="~/Images/GG.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta property="og:url" content="www.loteriagg.com/" />
    <meta property="og:title" content="LoteriaGG" />
    <meta property="og:image" content="/Images/lolcs.jpg" />
    <meta property="og:description" content="¡El mejor sitio para probar tu suerte y ganar increíbles premios de RP y Steam Wallet!" />
    <meta property="og:type" content="website" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <script src="~/Scripts/materialize.js"></script>
</head>

<body style="background-color:#263238">
    <div class="col s12" id="div1">
        <a href="/Steam/Home/" class="layer"></a>
    </div>

    <div class="col s12" id="div2">
        <a href="/LoL/Home/" class="layer"></a>
    </div>
    <script>
        if ("@ViewBag.mensaje" != "") {
            Materialize.toast("@ViewBag.mensaje", 3000, "red");
        }
    </script>
</body>


</html>