
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .div1 {
        left: 0;
        height: 100%;
        width: 50%;
        display: block;
        background-image: url(../../Images/SteamInicio.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000;
        position: absolute;
        top: 0px;
        border: 7px solid #555;
        filter: grayscale(100%);
    }

    .div2 {
        left: 50%;;
        height: 100%;
        width: 50%;
        display: block;
        background-image: url(../..//Images/AkalivsBaron.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        border: 7px solid #555;
        filter: grayscale(100%);
        left: 50%;
    }

    .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .div1:hover, .div2:hover {
        filter: grayscale(0%);
    }
</style>
<html>
<head>
    <meta name="google-site-verification" content="V151tMsnAZuk7BkKkyAo63Uj-IW_X2tleAaQYVLjRJw" />
    <link rel="icon" href="~/Images/GG.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta property="og:url" content="www.loteriagg.com/" />
    <meta property="og:title" content="LoteriaGG" />
    <meta property="og:image" content="/Images/lolcs.jpg" />
    <meta property="og:description" content="¡El mejor sitio para probar tu suerte y ganar increíbles premios de RP y Steam Wallet!" />
    <meta property="og:type" content="website" />
</head>

<body>
    <div class="div1">
        <a href="/Steam/Home/" class="btn layer" style="width:100%;height:100%"></a>
    </div>

    <div class="div2">
        <a href="/LoL/Home/" class="btn layer" style="width:100%;height:100%"></a>
    </div>
</body>



</html>